@charset "UTF-8";
ul {
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1;
}

textarea,
input,
select {
  outline: none;
  font-family: Arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

​ a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

ul {
  list-style: none;
}

body {
  background-color: #9cd3dd;
}

.mainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cards {
  margin: 15px;
  width: 250px;
  height: 372px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.front {
  background-color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.bot {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mid {
  font-size: 100px;
}

.back {
  background-image: url(../img/bg.png);
  background-size: cover;
}

.cards:hover .front {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.cards:hover .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.red .mini,
.red .mid {
  color: #a32525;
}
/*# sourceMappingURL=main.css.map */